$colors: (
	white: #fff,
	black: #000,

	red: #cc0000,
	dark-blue: #031b4e,
	blue: #3367d6,
	
	grey: #ccc,
	muted-grey: #777,
	light-grey: #f8f8f8,
	dark-grey: #2f4f4f,

	blue-grey: #e1e7ec,
	light-blue: #E0E6EB,

	transparent: transparent
);