$colors: (
	white: #fff,
	black: #000,

	light-red: #FCDFE2,
	red: #cc0000,

	grey: #ccc,
	muted-grey: #777,
	light-grey: #f8f8f8,
	subdued-grey: #F1F3F4,
	dark-grey: #2f4f4f,
	mid-grey: #3c4043,

	blue-grey: #E2E5F2,
	light-blue: #E0E6EB,
	light-muted-blue: #E0E3F1,
	muted-blue: #5D698C ,
	dark-blue: #031b4e,
	blue: #2E58D8,

	transparent: transparent
);