.introduction {
	background: #4696e5;
	color: white;
	padding-top: 10px;
}

.introduction h1, .introduction p {
	margin: 0 auto;
	display: block;
	max-width: 800px;
}

.introduction h1 {
	font-size: 4vmax;
	margin-bottom: 10px;
}

.introduction-content {
	width: 100%;
}

.name-tofadein {
	display: none;
	opacity: 0;
}

.name span {
	display: inline-block;
}