.introduction {
	background: #4696e5;
	color: white;
	padding: 10px 20px 14px;
}

.introduction h1, .introduction p {
	margin: 0 auto;
	display: block;
	max-width: 262px;
}

.introduction h1 {
	font-size: 2.2rem;
	margin-bottom: 4px;
}

@media only screen and (min-width: 768px) {
	.introduction h1, .introduction p {
		max-width: 357px;
	}
	.introduction h1 {
		font-size: 3rem;        
	}
}

.introduction-content {
	width: 100%;
}

.name-tofadein {
	display: none;
	opacity: 0;
}

.name span {
	display: inline-block;
}