.task-detail {
	display: block;
}

.task-detail-controls {
	margin-top: 10px;
}

.task-detail-body {
	min-height: 25%;
	display: block;
}

.task-detail-title {
	margin: 0;
	border-bottom: 1px solid black;
}