@import '../../../../../css/imports';

.calendar-form-field {
	transition: all .4s;
}

.calendar-form-field--closed {
	border-color: transparent;

	&:hover {
		border-color: get-color(light-grey);
		background-color: get-color(light-grey);
	}
}

.calendar-form-field--open {
	background-color: get-color(subdued-grey);
	border-color: get-color(subdued-grey);
}

.calendar-form-field--error, .calendar-form-field--error:hover {
	background-color: get-color(light-red);
	border-color: get-color(light-red);
}
