.introduction-start-container {
	position: absolute;
	bottom: 10%;
	left: 40%;
	right: 40%;
	width: 20%;
}

.introduction-start-button {
	max-width: 200px;
	width: 100%;
}

.site-title span {
	display: inline-block;
}