.calendar-header, .calendar-subheader, .calendar-body {
	max-width: 98%;
}

#calendar-example {
	position: relative;
}

.box.calendar-body {
	border-top: 0px;
}

.calendar-subheader.box {
	padding: 0;
	border-top: 0px;

	li {
		width: 14%;
	}
}

.calendar-buttons {
	border-left: 0px;
	line-height: 2rem;
}

.calendar-buttons li:last-child .btn {
	border-left: 0px;
}

.calendar-week {
	display: block;
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-left: 1px solid #ccc;
}

.calendar-day, .calendar-day-empty {
	float: left;
	width: 14%;
	min-height: 7rem;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: white;
}

.calendar-day.isToday {
	background: rgba(70, 150, 229, 0.05);
}

.calendar-day.isToday:hover {
	background: rgba(70, 150, 229, 0.2);
}

.calendar-day-empty {
	background: rgba(0, 0, 0, 0.1);
}

.calendar-day:hover {
	background: rgba(0, 0, 0, 0.05);
	cursor: pointer;
}