.calendar-hour-list {
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	max-height: 400px;
	overflow-y: scroll;
}

.calendar-hour-list li:last-child {
	margin-bottom: 0px;
	border-bottom: 0px;
}

.calendar-hour-time, .calendar-hour-events {
	display: inline-block;
}

.calendar-hour-event {
	margin: 0;
	margin-bottom: 4px;

	&:last-child {
		margin-bottom: 0px;
	}
}