.calendar-hour-list {
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	max-height: 400px;
}

.calendar-hour-list li:last-child {
	margin-bottom: 0px;
	border-bottom: 0px;
}

.calendar-hour-time {
	vertical-align: top;
}

.calendar-hour-time, .calendar-hour-events {
	display: inline-block;
}

.calendar-hour-events {
	list-style: none;
	list-style-type: none;
	padding: 0px;
}

.calendar-hour-event {
	margin: 0;
	margin-bottom: 4px;
	display: block;

	&:last-child {
		margin-bottom: 0px;
	}
}

.active-hour {
	background: rgba(70, 150, 229, 0.05);
}