.box {
	background: white;
	border: 1px solid #ccc;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
	border-radius: 2px;
}

.box-header {
	border-bottom: 1px solid #ccc;
}

.box.borderless {
	border: none;
}