.btn {
	display: inline-block;
	border: 1px solid #ccc;
	background: white;
	padding: 4px 8px;
	text-decoration: none;
	font-size: 90%;
	color: #777;
	border-radius: 0px;
}

.btn:hover {
	border-color: black;
	color: black;
	cursor: pointer;
}

.btn:active {
	border-color: #ccc;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
}

.btn-group .btn {
	margin-right: 2px;
}

.btn-group .btn:last-child {
	margin-right: 0px;
}

.btn-wide {
	padding: 4px 16px;
}

.btn-tall {
	padding: 8px 8px;
}

.btn-large {
	padding: 8px 16px;
}