.horizontal-list-menu {
	list-style: none;
	list-style-type: none;
	padding: 0 20px;
	margin: 0;
}

.horizontal-list-menu li {
	display: inline-block;
	padding-right: 10px;
}

.horizontal-list-menu li.pull-right {
	padding-right: 0px;
}

.horizontal-list-menu a {
	margin-right: 0px;
}

.horizontal-list-menu a:hover {
	color: black;
}

.horizontal-list-menu--btns li {
	padding-right: 0px;
}