.horizontal-list-menu {
	list-style: none;
	list-style-type: none;
	margin: 0;
}

.horizontal-list-menu li {
	display: inline-block;
	padding-right: 10px;
}

.horizontal-list-menu li.pull-right {
	padding-right: 0px;
}

.horizontal-list-menu a {
	margin-right: 0px;
}

.horizontal-list-menu a:hover {
	color: black;
}

.horizontal-list-menu--btns {
	@extend .horizontal-list-menu;
}

.horizontal-list-menu--btns li {
	padding-right: 0px;
	display: inline-block;
}

.horizontal-list-menu--btns li:last-child .btn {
	border-right: 1px solid #ccc;
}

.horizontal-list-menu--btns .btn {
	padding: 0px 1rem;
	border-top: 0px;
	border-bottom: 0px;
	border-right: 0px;
}

.horizontal-list-menu--btns .btn.active {
	color: black;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.075);
}

.horizontal-list-menu--btns .btn:hover {
	border-color: #ccc;
}