.border-top {
	border-top: 1px solid #ccc;
}

.border-right {
	border-right: 1px solid #ccc;
}

.border-bottom {
	border-bottom: 1px solid #ccc;
}

.border-left {
	border-left: 1px solid #ccc;
}

.border-vertical {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.border-horizontal {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}