.margin {
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.margin-sm {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.margin.margin-left-sm {
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.margin.margin-bottom-sm {
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.margin.margin-right-sm {
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.margin.margin-top-sm {
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.margin-left {
	margin-left: 20px;
}

.margin-bottom {
	margin-bottom: 20px;
}

.margin-right {
	margin-right: 20px;
}

.margin-top {
	margin-top: 20px;
}

.margin-left-sm {
	margin-left: 10px;
}

.margin-bottom-sm {
	margin-bottom: 10px;
}

.margin-right-sm {
	margin-right: 10px;
}

.margin-top-sm {
	margin-top: 10px;
}

.margin-vertical {
	margin-top: 20px;
	margin-bottom: 20px;
}

.margin-vertical-sm {
	margin-top: 10px;
	margin-bottom: 10px;
}

.margin-vertical.margin-left {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.margin-vertical-sm.margin-left {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.margin-vertical.margin-left-sm {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.margin-vertical-sm.margin-left-sm {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.margin-vertical.margin-right {
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.margin-vertical-sm.margin-right {
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.margin-vertical.margin-right-sm {
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.margin-vertical-sm.margin-right-sm {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.margin-horizontal {
	margin-right: 20px;
	margin-left: 20px;
}

.margin-horizontal-sm {
	margin-right: 10px;
	margin-left: 10px;
}

.margin-horizontal.margin-top {
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

.margin-horizontal-sm.margin-top {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
}

.margin-horizontal.margin-top-sm {
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 20px;
}

.margin-horizontal-sm.margin-top-sm {
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.margin-horizontal.margin-bottom {
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.margin-horizontal-sm.margin-bottom {
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.margin-horizontal.margin-bottom-sm {
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.margin-horizontal-sm.margin-bottom-sm {
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.margin-vertical.margin-horizontal-sm {
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.margin-horizontal.margin-vertical-sm {
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.margin-except-top {
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.margin-except-right {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.margin-except-bottom {
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

.margin-except-left {
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.margin-sm-except-top {
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.margin-sm-except-right {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.margin-sm-except-bottom {
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.margin-sm-except-left {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}