.padding {
	padding: 20px;
}

.padding-sm {
	padding: 10px;
}



.padding-left {
	padding-left: 20px;
}

.padding-bottom {
	padding-bottom: 20px;
}

.padding-right {
	padding-right: 20px;
}

.padding-top {
	padding-top: 20px;
}




.padding-vertical {
	padding: 20px 0;
}

.padding-horizontal {
	padding: 0 20px;
}




.padding-left-sm {
	padding-left: 10px;
}

.padding-bottom-sm {
	padding-bottom: 10px;
}

.padding-right-sm {
	padding-right: 10px;
}

.padding-top-sm {
	padding-top: 10px;
}