.padding {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.padding-sm {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.padding.padding-left-sm {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.padding.padding-bottom-sm {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.padding.padding-right-sm {
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.padding.padding-top-sm {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.padding-left {
	padding-left: 20px;
}

.padding-bottom {
	padding-bottom: 20px;
}

.padding-right {
	padding-right: 20px;
}

.padding-top {
	padding-top: 20px;
}

.padding-left-sm {
	padding-left: 10px;
}

.padding-bottom-sm {
	padding-bottom: 10px;
}

.padding-right-sm {
	padding-right: 10px;
}

.padding-top-sm {
	padding-top: 10px;
}

.padding-vertical {
	padding-top: 20px;
	padding-bottom: 20px;
}

.padding-vertical-sm {
	padding-top: 10px;
	padding-bottom: 10px;
}

.padding-vertical.padding-left {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.padding-vertical-sm.padding-left {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.padding-vertical.padding-left-sm {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.padding-vertical-sm.padding-left-sm {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.padding-vertical.padding-right {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.padding-vertical-sm.padding-right {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
}

.padding-vertical.padding-right-sm {
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
}

.padding-vertical-sm.padding-right-sm {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.padding-horizontal {
	padding-right: 20px;
	padding-left: 20px;
}

.padding-horizontal-sm {
	padding-right: 10px;
	padding-left: 10px;
}

.padding-horizontal.padding-top {
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

.padding-horizontal-sm.padding-top {
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

.padding-horizontal.padding-top-sm {
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

.padding-horizontal-sm.padding-top-sm {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.padding-horizontal.padding-bottom {
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.padding-horizontal-sm.padding-bottom {
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.padding-horizontal.padding-bottom-sm {
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.padding-horizontal-sm.padding-bottom-sm {
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.padding-vertical.padding-horizontal-sm {
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.padding-horizontal.padding-vertical-sm {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.padding-except-top {
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.padding-except-right {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.padding-except-bottom {
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

.padding-except-left {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.padding-sm-except-top {
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.padding-sm-except-right {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.padding-sm-except-bottom {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.padding-sm-except-left {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}