.opaque {
	opacity: 1;
}

.black {
	color: black;
}

.hidden {
	display: none;
}

.seethrough {
	opacity: 0;
}

.invisible {
	visibility: hidden;
}

.muted {
	color: #777;
}

.muted {
	color: #777;
}

.pull-right {
	float: right;
}

.full-height {
	min-height: 100vh;
}

.centred {
	margin: 0 auto;
}

.centred.margin-top {
	margin: 20px auto 0px;
}

.centred.margin-bottom {
	margin: 0px auto 20px;
}

.hover-cursor--pointer:hover {
	cursor: pointer;
}

.hover-cursor--default {
	cursor: default;
}

.box-shadow {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
}

.box-shadow-inset {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075) inset;
}