.hide-overflow {
  	height: 100%;
	overflow: hidden;
}

.opaque {
	opacity: 1;
}

.black {
	color: black;
}

.hidden {
	display: none;
}

.seethrough {
	opacity: 0;
}

.invisible {
	visibility: hidden;
}

.muted {
	color: #777;
}

.margin {
	margin: 20px;
}

.margin-left {
	margin-left: 20px;
}

.margin-bottom {
	margin-bottom: 20px;
}

.margin-right {
	margin-right: 20px;
}

.margin-top {
	margin-top: 20px;
}

.margin-vertical {
	margin: 20px 0;
}

.margin-horizontal {
	margin: 0 20px;
}

.margin-left-sm {
	margin-left: 10px;
}

.margin-bottom-sm {
	margin-bottom: 10px;
}

.margin-right-sm {
	margin-right: 10px;
}

.margin-top-sm {
	margin-top: 10px;
}

.padding {
	padding: 20px;
}

.padding-left {
	padding-bottom: 20px;
}

.padding-bottom {
	padding-bottom: 20px;
}

.padding-right {
	padding-right: 20px;
}

.padding-top {
	padding-top: 20px;
}

.padding-vertical {
	padding: 20px 0;
}

.padding-horizontal {
	padding: 0 20px;
}

.muted {
	color: #777;
}

.pull-right {
	float: right;
}

.full-height {
	min-height: 100vh;
}

.centred {
	margin: 0 auto;
}

.centred.margin-top {
	margin: 20px auto 0px;
}

.centred.margin-bottom {
	margin: 0px auto 20px;
}