.day-item {
	height: 121px;
}

.calendar-day--is-today .day-item {
	background-color: rgb(237, 244, 252);
}

.no-touch .calendar-day--is-today .day-item:hover {
	background-color: rgb(219, 234, 249);
}
