.bookmark-item-title {
	display: inline-block;
}

.bookmark-item-url {
	display: inline-block;
}

.bookmark-item-image {
	max-width: 100%;
}

.bookmark-item-footer {
	padding-top: 8px;
	padding-bottom: 8px;
}

.bookmark-item-footer a {
	text-decoration: none;
}