.border-left {
	border-left-width: 1px;
	border-left-style: solid;
}

.border-bottom {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.border-right {
	border-right-width: 1px;
	border-right-style: solid;
}

.border-top {
	border-top-width: 1px;
	border-top-style: solid;
}

.border {
	border-width: 1px;
	border-style: solid;
}

.border-horizontal {
	border-left-width: 1px;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}

.border-vertical {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-top-style: solid;
}