.border-radius {
	border-radius: 0.25rem;
}

.border-radius-large {
	border-radius: 0.4rem;
}

.border-radius-small {
	border-radius: 0.125rem;
}

.border-bottom-radius {
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.border-top-radius {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}