.box-shadow {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
}

.box-shadow-large {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
}

.box-shadow-inset {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075) inset;
}