.calendar-day {
	float: left;
	width: 13.55%;
	margin: 0.36%;
	height: 121px;
}

.calendar-day-inner {
	outline: none;
}

.calendar-day--is-not-zoomed {
	cursor: pointer;
}

.calendar-day--empty {
	background-color: rgba(0, 0, 0, 0.05);
}
