@import '../imports';

.button {
    padding: .5rem;
    cursor: pointer;
    border: 1px solid;
    border-color: #ccc;
    border-radius: .25rem;
    line-height: normal;
	transition: all .3s;
}

.button--large {
    padding: 1rem;
    font-size: 1.05rem;
}

.button--small {
    padding: .25rem;
    font-size: .75rem;
}

.button--tiny {
    padding: .15rem;
    font-size: .55rem;
}

.button--giant {
    font-size: 2rem;
    padding: .95rem 1rem .75rem;
}

.button--block {
    display: block;
    width: 100%;
}

.button:disabled {
    opacity: .65;
    cursor: not-allowed;
}

/***********
    Button animations
***********/
.button--shift-on-hover {
    transition: 0.2s;
}

.button--shift-on-hover:not(:disabled):hover {
    transform: translateY(-2px);
}

.button--fade {
    transition: 1s;
}

.button--shadow-on-hover {
	transition: box-shadow 200ms;
}

.button--shadow-on-hover:not(:disabled):hover {
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.275);
}

/***********
    Button Group
***********/
.button-group .button {
    border-radius: 0;
}

.button-group .button:not(:first-child) {
    border-left: none;
}

.button-group .button:first-child {
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
}

.button-group .button:last-child {
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
}

/***********
    Button Themes
***********/
.button--white {
	background-color: white;
	border-color: white;
}


.button--grey-ghost, .button--ghost {
    background-color: transparent;
    border-color: transparent;
}

.button--grey-ghost {
	color: get-color(dark-grey);
}

.button--ghost {
    color: white;
}

.button--grey-ghost:not(:disabled):hover {
    background-color: get-color(light-grey); 
}

.button--grey-ghost:not(:disabled):active {
    background-color: get-color(subdued-grey); 
}

.button--ghost:not(:disabled):hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button--ghost:not(:disabled):active {
    background-color: rgba(255, 255, 255, 0.1);
}

.button--blue {
    background-color: #408fec;
    border-color: #408fec;
    color: white;
    transition: 0.2s;
}

.button--blue:not(:disabled):hover {
    background-color: #3367d6;
    border-color: #3367d6;
}

.button--blue:not(:disabled):active {
    background-color: #234E81;
    border-color: #234E81;
}

.button--blue:not(:disabled):focus {
    background-color: #234E81;
    border-color: #234E81;
}

.button--red {
    background-color: #c73434;
    border-color: #c73434;
    color: white;
    transition: 0.2s;
}

.button--red:not(:disabled):hover {
    background-color: #ab2d2d;
    border-color: #ab2d2d;
}

.button--red:not(:disabled):active {
    background-color: #942727;
    border-color: #942727;
}

.button--red:not(:disabled):focus {
    background-color: #942727;
    border-color: #942727;
}

.button--green {
    background-color: #393;
    border-color: #393;
    color: white;
    transition: 0.2s;
}

.button--green:not(:disabled):hover {
    background-color: #277527;
    border-color: #277527;
}

.button--green:not(:disabled):active {
    background-color: #206120;
    border-color: #206120;
}

.button--green:not(:disabled):focus {
    background-color: #206120;
    border-color: #206120;
}

.button--ghost {
    background-color: none;
    border-color: transparent;
    transition: 0.2s;
}

.button--grey {
    background-color: #f7f7f7;
    border-color: #ccc;
    transition: 0.2s;
}

.button--outline {
    background-color: transparent;
    border-color: #ccc;
}

.button--outline:not(:disabled):hover {
    border-color: black;
    color: black;
}

.button--outline:not(:disabled):active {
    border-color: black;
    color: black;
}

.button--outline:not(:disabled):focus {
	outline: -webkit-focus-ring-color auto 2px;
}