@import '../imports';

/***********
    Default button styles
***********/

.button {
    padding: .5rem;
    cursor: pointer;
    border: 1px solid;
    border-color: #ccc;
    border-radius: .25rem;
    line-height: normal;
	transition: all .3s;
}

/***********
    Button Themes
***********/

@mixin buttonMixin($color) {
	background: $color;
	border-color: $color;

	&:not(:disabled):hover {
		background: darken($color, 8%);
		border-color: darken($color, 8%);
	}

	&:not(:disabled):active {
		background: darken($color, 25%);
		border-color: darken($color, 25%);
	}
}

@each $name, $color in $colors {

	.button--#{$name} {
		@include buttonMixin($color);
	}

}

@each $name, $config in $buttons {

	.button--#{$name} {
		@if map-has-key($config, border-color) {
			border-color: map-get($config, border-color);	
		}

		@if map-has-key($config, background-color) {
			background-color: map-get($config, background-color);	
		}

		@if map-has-key($config, color) {
			color: map-get($config, color);	
		}

		@if map-has-key($config, hover-background-color) {
			&:not(:disabled):hover {
				background-color: map-get($config, hover-background-color);	
			}
		}

		@if map-has-key($config, hover-color) {
			&:not(:disabled):hover {
				color: map-get($config, hover-color);	
			}
		}

		@if map-has-key($config, active-background-color) {
			&:not(:disabled):active {
				background-color: map-get($config, active-background-color);	
			}
		}

		@if map-has-key($config, active-color) {
			&:not(:disabled):active {
				color: map-get($config, active-color);	
			}
		}
	}

}

.button--large {
    padding: 1rem;
    font-size: 1.05rem;
}

.button--medium {
	padding: .4rem;
}

.button--small {
    padding: .25rem;
    font-size: .75rem;
}

.button--tiny {
    padding: .15rem;
    font-size: .55rem;
}

.button--giant {
    font-size: 2rem;
    padding: .95rem 1rem .75rem;
}

.button--block {
    display: block;
    width: 100%;
}

.button:disabled {
    opacity: .65;
    cursor: not-allowed;
}

/***********
    Button animations
***********/
.button--shift-on-hover {
    transition: 0.2s;
}

.button--shift-on-hover:not(:disabled):hover {
    transform: translateY(-2px);
}

.button--fade {
    transition: 1s;
}

.button--shadow-on-hover {
	transition: box-shadow 200ms;
}

.button--shadow-on-hover:not(:disabled):hover {
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.275);
}

/***********
    Button Group
***********/
.button-group .button {
    border-radius: 0;
}

.button-group .button:not(:first-child) {
    border-left: none;
}

.button-group .button:first-child {
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
}

.button-group .button:last-child {
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
}
