.introduction {
	background: #4696e5;
	color: white;
}

.introduction h1, .introduction p {
	margin: 0;
	text-align: center;
}

.introduction h1 {
	font-size: 4vw;
	margin-bottom: 10px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.introduction h1 {
		font-size: 10vw;
		margin-bottom: 10px;
	}
}

.introduction-content {
	width: 100%;
}

.name-tofadein {
	display: none;
	opacity: 0;
}

.name span {
	display: inline-block;
}