* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	background: #FCFCFC;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: inherit;
}

.muted {
	color: #777;
}

.margin {
	margin: 20px;
}

.margin-left {
	margin-left: 20px;
}

.margin-bottom {
	margin-bottom: 20px;
}

.margin-right {
	margin-right: 20px;
}

.margin-top {
	margin-top: 20px;
}

.padding {
	padding: 20px;
}

.muted {
	color: #777;
}

.pull-right {
	float: right;
}

.full-height {
	min-height: 100vh;
	padding: 20px;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	position: relative;
}

.example {
	width: 100%;
}

.introduction {
	background: #4696e5;
	color: white;
}

.introduction h1, .introduction p {
	margin: 0;
}

.tasklist-example {
	background: #c2e59c; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}